* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* nav */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 50px;
  z-index: 999;
  background-color: transparent !important;
  transition: all 0.6s ease;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
nav.sticky {
  color: #202842 !important;
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0.8) !important;
}
nav.sticky .form-control {
  background-color: rgba(32, 40, 66, 0.1);
}
nav.sticky .nav-link {
  box-shadow: unset;
  color: black !important;
}
nav.sticky .navbar-brand p {
  color: black !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand p {
  color: #fff;
  margin: 0 0 0 6px;
  font-family: "Rouge Script", cursive;
  font-size: 28px;
}
.nav-logo {
  width: 54px;
  height: 54px;
}
.user-avatar {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.nav-link {
  color: #be2a8d !important;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  -webkit-box-shadow: inset 0 -22px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -22px 0 rgba(255, 255, 255, 0.7);
  margin-left: 30px;
  padding: 0 4px;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nav-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  background-color: #c2509c;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  background-position: 0%;
}
.nav-link:hover::before {
  width: 100%;
}
.form-inline {
  position: relative;
}
.form-control {
  border-radius: 25px;
  border: none;
}
.form-control:focus {
  -webkit-box-shadow: 0 7px 20px rgba(255, 255, 255, 1);
  box-shadow: 0 7px 20px rgba(255, 255, 255, 1);
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-btn-search {
  position: absolute;
  right: 20px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  outline: none !important;
}
.nav-upload i {
  color: #c2509c;
  font-size: 26px;
  margin: 0 20px;
  cursor: pointer;
}
.nav-upload i:hover {
  color: #cf79b2;
}
.nav-btn-search img {
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}
.nav-profile {
  position: relative;
  cursor: pointer;
}
.nav-profile-menu {
  position: absolute;
  top: 100px;
  right: -16px;
  width: 240px;
  background-color: #fff;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.nav-profile:hover .nav-profile-menu {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  transform: translateY(-20px);
}
.nav-profile-menu::before {
  content: "";
  position: absolute;
  top: -46px;
  right: 11px;
  border-width: 28px 26px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}
.nav-profile-menu a {
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 0;
}
.nav-profile-menu--profileText {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-profile-menu--profileEdit,
.nav-profile-menu--profileText {
  margin-top: 10px !important;
}
.nav-profile-menu--profileLogout {
  margin-bottom: 10px !important;
}
.nav-profile-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.nav-profile-menu i {
  color: #666;
  margin: 0 10px 0 10px;
}
.menu-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
/* header  */
.main-heading {
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100vh;
  min-height: 700px;
  background-image: url(../image/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.main-heading-text {
  color: #fff;
}
.main-heading-text--1 {
  font-size: 1.8em;
  font-weight: 500;
  opacity: 0;
  animation: slideFromLeftTo 1s forwards;
}
.main-heading-text--2 {
  font-size: 6em;
  font-weight: 700;
  background: linear-gradient(45deg, #c2509c, #9e6aff);
  margin-top: -18px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  animation: slideFromLeftTo 1s forwards;
  animation-delay: 0.3s;
}
.main-heading-text--3 {
  font-size: 2em;
  font-weight: 550;
  opacity: 0;
  animation: slideFromLeftTo 1s forwards;
  animation-delay: 0.6s;
}
@-webkit-keyframes slideFromLeftTo {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.main-heading-text--3 span {
  background: linear-gradient(45deg, #c2509c, #9e6aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* projects */
.projects {
  padding-top: 50px;
  padding-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.projects h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 750;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  vertical-align: text-bottom;
  line-height: 1.5;
  margin-bottom: 50px;
}
.projects h3 b {
  background: linear-gradient(-45deg, #c2509c, #9e6aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects h3 i {
  display: block;
  margin-top: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #c2509c;
}
.projects h3 span {
  color: transparent;
  -webkit-text-stroke: 1px #c2509c;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.projects-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.projects-content a {
  position: relative;
  width: calc(100% - 2px);
  height: 430px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}
.project-blog {
  opacity: 0;
  animation: slideFromBottomUp 1s ease forwards;
  animation-delay: 0.2s;
}
.project-shopee {
  opacity: 0;
  animation: slideFromBottomUp 1s ease forwards;
  animation-delay: 0.4s;
}
.project-muzli {
  opacity: 0;
  animation: slideFromBottomUp 1s ease forwards;
  animation-delay: 0.6s;
}
@-webkit-keyframes slideFromBottomUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.projects-content a:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.projects-content p {
  margin-bottom: 0;
  position: absolute;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px black;
  font-size: 60px;
  font-weight: 900;
  z-index: 2;
}

/* footer  */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #f7f8fc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.footer p {
  margin: 0;
  font-size: 18px;
}
.footer p span {
  font-weight: 600;
  color: #666;
  cursor: pointer;
}
.footer p span:hover {
  color: #c2509c;
}
.footer-icon {
  font-size: 26px;
}
.footer-icon a {
  margin-left: 16px;
}
.fab.fa-facebook {
  color: #1196f5;
}
.fab.fa-github {
  color: #333;
}

/* srcoll to top */
.to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #c2509c, #9e6aff);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  cursor: pointer;
  z-index: 10;
}
.to-top.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 80px;
}
.to-top i {
  color: #fff;
  transition: all 0.2s ease;
}

/* menu tablet & moblie */
.memu-mobile {
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  z-index: 99;
}
.memu-mobile a {
  color: #333;
  text-decoration: none;
}
.memu-mobile img {
  width: 20px;
  height: 20px;
}

/* about me */
.about {
  padding: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.about .about-title {
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: 750;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  vertical-align: text-bottom;
  line-height: 1.5;
  margin-bottom: 50px;
  background: linear-gradient(-45deg, #c2509c, #9e6aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about-title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 180px;
  height: 1px;
  background-color: #111;
  transform: translateX(-50%);
}
.about .about-title::after {
  content: "who i am";
  position: absolute;
  bottom: -14px;
  left: 50%;
  font-size: 22px;
  color: #333;
  padding: 0 5px;
  background-color: #fff;
  transform: translateX(-50%);
  -webkit-text-fill-color: #333;
  text-transform: none;
}
.about .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about .about-content .left {
  width: 45%;
  display: flex;
  justify-content: center;
}
.about .about-content .left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .about-text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .about-text span {
  background: linear-gradient(-45deg, #c2509c, #9e6aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about-content .right p {
  font-size: 20px;
  text-align: justify;
  margin: 0;
}
.about .about-content .right a {
  display: inline-block;
  background: linear-gradient(-45deg, #c2509c, #9e6aff);
  color: #fff;
  font-size: 20px;
  padding: 8px 30px;
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  text-decoration: none;
}
